body {
  scroll-behavior: smooth;
  background-color: black;
  font-family: "Nanum Myeongjo', serif";
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
.eventname {
  font-size: 20px;
  color: white;
  padding: 30px;
  text-align: center;
  margin-left: 30px;
}
#page-footer {
  color: #fff;
  position: absolute;
  bottom: 0%;
  left: 35%;
}
#first {
  overflow: hidden;
  height: 660px;
  position: relative;
}
#page-container {
  overflow: hidden;
}
.bgImg {
  width: 1000px;
  position: absolute;
  animation: scale 15s infinite;

  z-index: -110;
  top: 0;
}
.logo {
  cursor: pointer;
}
.logo:hover {
}
@keyframes scale {
  0% {
    transform: scale(2);
  }
  50% {
    transform: scale(2.5);
  }

  100% {
    transform: scale(2);
  }
}
#page-container #page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
}

#page-container .buy-ticket {
  color: white;
  padding: 8px;
  font-weight: bold;
  border-radius: 10px 0 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  background: black;
}
#page-container .buy-ticket:hover {
  color: #fff;
  background: #ff4d1b;
}
.fa {
  cursor: pointer;
  padding: 3px;
  color: white;
  font-size: 10px;
}
.fa:hover {
  color: #fff;
}

.discover:hover {
  border-color: #ff4419;
  color: black;
  box-shadow: black 2px 3px 5px 2px;
}

#page-content {
  color: #ccc;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  padding: 30px;
}
#second {
  display: flex;
  flex-basis: auto;
  flex-flow: wrap;
  justify-content: space-around;
}
.second-section {
  margin: 10px;
  padding: 50px;
  height: 200px;
  width: 300px;
  background-color: white;
  box-shadow: grey 2px 3px 5px 2px;
}
.page-left-menu {
  padding: 12px 15px;
}
.page-left-menu ul li a {
  color: #fff;
}

.page-left-menu ul li {
  padding: 3px;
}
.page-left-menu .active {
  font-weight: bold;
  color: #d4b038;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.active:hover {
  color: white;
}
.page-handles {
  margin-top: 10px;
}
.page-right-menu {
}

#page-footer .Artist-name {
  color: #d4b038;
  text-align: center;
}

.discover {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  display: inline-block;

  border-width: 1px 0;
  padding: 5px;
  position: absolute;
  top: 18%;
  left: 35%;

  position: absolute;
  top: 45%;
  left: 30%;
  color: #fff;
  font-size: 10px;
  padding: 3px;
  border: 1.5px white solid;
  z-index: 1;
}

.discover span {
  font: 700 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png)
    repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* hover */

a,
a > span {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 10px;
}

a:before,
a:after,
a > span:before,
a > span:after {
  content: "";
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.effect-5 {
  display: inline-block;
  overflow: hidden;
}

.effect-5:before,
.effect-5:after {
  right: 0;
  bottom: 0;
  background: white;
}

.effect-5:before {
  width: 100%;
  height: 2px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.effect-5:after {
  width: 2px;
  height: 100%;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.effect-5 > span {
  display: block;
  padding: 10px;
}

.effect-5 > span:before,
.effect-5 > span:after {
  left: 0;
  top: 0;
  background: white;
}

.effect-5 > span:before {
  width: 100%;
  height: 2px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.effect-5 > span:after {
  width: 2px;
  height: 100%;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.effect-5:hover:before,
.effect-5:hover:after,
.effect-5:hover > span:before,
.effect-5:hover > span:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

#video-section {
  position: absolute;
  left: 15%;
  top: 15%;
  display: flex;
  flex-wrap: wrap;
}
.video-list {
  padding: 7px;
}
#event-section {
  position: absolute;
  left: 17%;
  top: 10%;
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 800px;
  background-color: rgba(0, 0, 0, 0.5);
}
.event-list {
  padding: 7px;
}

.book {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.buy {
  background-color: green;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.soldout {
  background-color: red;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: none;
}
.book:hover,
a:active {
  background-color: red;
}
.rsvp {
  background-color: grey;
}
