* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#page-container {
  /*background: linear-gradient(290deg, white, #fff, black);*/
  background-color: black;
}

#page-container #page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
}

#page-container #page-header img {
}

#page-container .buy-ticket {
  color: #d4b038;
  padding: 8px;
  font-weight: bold;
  border-radius: 10px 0 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #4e4116;
}
#page-container .buy-ticket:hover {
  color: #fff;
  background: #333333;
}
#page-content {
  color: #ccc;
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  padding: 30px;
}
.page-left-menu {
  padding: 12px 15px;
}
.page-left-menu ul li a {
  color: gray;
}
.page-left-menu ul li a:hover {
  color: #fff;
  font-size: 20px;
}
.page-left-menu ul li {
  padding: 10px;
  font-family: "Agency FB";
}
.page-left-menu .active {
  color: #d4b038;
  font-size: 15px;
}
.page-handles {
  margin-top: 100px;
}
.page-right-menu {
}

#page-footer .Artist-name {
  color: #d4b038;
  text-align: center;
}
