body {
  scroll-behavior: smooth;
  background-color: black;
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#first {
  overflow: hidden;
  height: 600px;
  position: relative;
}
#page-container {
  overflow: hidden;
}
.bgImg {
  width: 1000px;
  position: absolute;
  animation: scale 15s infinite;

  z-index: -110;
  top: 0;
}
.logo {
  cursor: pointer;
}
.logo:hover {
}
@keyframes scale {
  0% {
    transform: scale(2);
  }
  50% {
    transform: scale(2.5);
  }

  100% {
    transform: scale(2);
  }
}
#page-container #page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
}

#page-container .buy-ticket {
  color: white;
  padding: 8px;
  font-weight: bold;
  border-radius: 10px 0 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  background: black;
}
#page-container .buy-ticket:hover {
  color: #fff;
  background: #ff4d1b;
}
.fa {
  cursor: pointer;
  padding: 3px;
}
.fa:hover {
  color: #fff;
}

.discover:hover {
  border-color: #ff4419;
  color: black;
  box-shadow: black 2px 3px 5px 2px;
}

#page-content {
  color: #ccc;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding: 30px;
}
#second {
  display: flex;
  flex-basis: auto;
  flex-flow: wrap;
  justify-content: space-around;
}
.second-section {
  margin: 10px;
  padding: 50px;
  height: 200px;
  width: 300px;
  background-color: white;
  box-shadow: grey 2px 3px 5px 2px;
}
.page-left-menu {
  padding: 12px 15px;
}
.page-left-menu ul li a {
  color: #fff;
  font-family: cursive;
}

.page-left-menu ul li {
  padding: 10px;
}
.page-left-menu .active {
  color: #d4b038;
  font-size: 15px;
  font-family: ;
}
.page-handles {
  margin-top: 10px;
}
.page-right-menu {
}

#page-footer .Artist-name {
  color: #d4b038;
  text-align: center;
}

.discover {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  display: inline-block;

  border-width: 1px 0;
  padding: 5px;
  position: absolute;
  top: 18%;
  left: 35%;

  position: absolute;
  top: 45%;
  left: 30%;
  color: #fff;
  font-size: 10px;
  padding: 3px;
  border: 1.5px white solid;
  z-index: 1;
}

.discover span {
  font: 700 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png)
    repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
