@import url(https://fonts.googleapis.com/css?family=Monda);

html {
  font-size: 14px;
}

nav a {
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 1.35em;
}

.nav3d {
  font-family: "Monda", sans-serif;
  background: #0e83cd;
  padding: 2em;
  text-aling: center;
}

.nav3d a {
  line-height: 44px;
  perspective: 1000px;
}

.nav3d a span {
  background: #2195de;
  position: relative;
  display: inline-block;
  padding: 0 14px;
  text-align: center;

  transition: transform 0.3s;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
}

.nav3d a span:before {
  content: attr(data-hover);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0965a0;

  transition: background 0.3s;
  transform: rotateX(-90deg);
  transform-origin: 50% 0;
}

.nav3d a:hover span,
.nav3d a:focus span {
  transform: rotateX(90deg) translateY(-22px);
}

.nav3d a:hover span:before,
.nav3d a:focus span:before {
  background: #28a2ee;
}
